@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* here we imported lato font from fonts.google.com */
/* here first of all we selected lato from that website ,than we selected all those type under lato type . Than we select the import button at the right side . After that a link will be visible . We will copy that link and then paste it at the top of our css file . */
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Lato', sans-serif;
    /* we got this font-family type from that website (fonts.google.com) */
}
.first{
    background-image: url('../images/pic_1.jpg');
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    clip-path: polygon(50% 0%, 100% 0, 100% 67%, 80% 100%, 21% 100%, 0 67%, 0 0);
    /* CSS clip path generator --> theke newa hoise path ta */
}
.first h1{
    color: aliceblue;
    font-size: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    word-spacing: 40px;
    letter-spacing: 5px;
    /* padding top is used to shift that line little downword */
     padding-top: 430px; 
    /* padding-bottom: 60px; */
  
}
.article {
     width: 80%;
    /*margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px; */
    margin: 60px auto;
    /* TB LR */
    padding: 60px;
    /* background-color:cornflowerblue; */
    background: linear-gradient(10deg,cornflowerblue,black,purple);
    border-width: 15px;
    border-color:darkblue;
    border-style: groove;
}
#visited_place ,.p_audio_video{
    width: 80%;
   /*margin-left: auto;
   margin-right: auto;
   margin-top: 60px;
   margin-bottom: 60px; */
   margin: 60px auto;
   /* TB LR */
   padding: 60px;
   /* background-color:cornflowerblue; */
   border-width: 15px;
   /* border-color:darkblue; */
   border-style: groove;
   background: linear-gradient(45deg,cornflowerblue,black,rgb(92, 0, 128));
}
.article h2, #visited_place h2,.p_audio_video h2{
    text-align: center;
    font-size: 48px;
    border-style: groove;
    border-width: 8px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color:darkblue;
    /* distance from h2 tag sentence to its underline */
    padding-bottom: 30px;
    /* distance from underline to paragraph underneath the underline */
    margin-bottom: 60px;
    color: aliceblue;
}
.article p{
    font-size: 25px;
    /* line-height: 2em; */
    color: beige;
}
.article p .im{
    font-style: italic;
    color:goldenrod;
    font-size: 1em;
    /* 1 em means parent size er shoman . 2em means parent size theke 2 gun beshi ..parent size bolte paragraph tag ta te already font size 25px dewa ache ..oita k bujhaise  */
}
.travel-pic{
    /* travel pic class ta hocche picture gula j div er vitore ache takae represent kortese ..ekhane picture gulo k jodi pashapashi rakhte jai tader parent div er moddhe display flex use korte hobe ..by default flex direction pashapashi row te thakae tao chaile dewa jay..abr column wise o dewa jay.. */
    display: flex;
    flex-direction: row;
    /* pashapashi thakbe picture */
    gap: 20px;
     /* flex-wrap: wrap;  */

    /* justify-content: center; */
    /* piture majkhane ashbe */

    /* justify-content: space-around; */
    /* picture er charpashe space thakbe */

    /* justify-content: space-between; */
    /* picture 2 ta 2 side e jabe majkhane space thakbe */
}
.travel-pic div{
     min-width: 200px; 
    /* prottek ta picture 300px er moddhe thakbe kono picture 300px er baire gele 2nd picture ta tar upor boshe jabe 300px er pore j part thakbe tar upor.. */
}
.travel-pic img{
     width: 100%;
     /* shob gula picture pashapashi thakbe ..oi page er baire jabe na.. baire extra part thakbe na */
}
.audio_video div{
    min-width: 200px; 
}
.audio_video ,.audio_video h3{
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 60px;
    
}
.audio_video h3{
     font-size: 18px; 
    border-style: groove;
    border-width: 8px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: aliceblue;
    border-color:darkblue;
    /* distance from h3 tag sentence to its underline */
    padding-bottom: 30px;
    /* distance from underline to paragraph underneath the underline */
    margin-bottom: 20px;
    
}